.sidebar-container {
    height: 100%;
}

.menu-item {
    font-size: 0.95rem;
    color: #495057;
    transition: background 0.2s;
}

.menu-item:hover {
    background-color: #f8f9fa;
}

.menu-item.active {
    font-weight: 500;
}

.pi {
    font-size: 0.7rem !important;
    color: #d32f2f !important;
}

.submenu {
    background-color: #fafafa;
}

.submenu-item {
    transition: color 0.2s;
}

.border-gray-100 {
    border-color: #f1f1f1 !important;
}