@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f8f9fa;
    color: #495057;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.text-red-500 {
    color: #ef4444;
}

.text-red-600 {
    color: #dc2626;
}

.bg-red-600 {
    background-color: #dc2626;
}

/* Global PrimeNG Overrides */
.p-inputtext,
.p-select,
.p-select-label {
    background-color: #ffffff !important;
    color: #333333 !important;
}

.p-inputtext:enabled:focus,
.p-select:not(.p-disabled).p-focus {
    background-color: #ffffff !important;
    box-shadow: 0 0 0 0.1rem rgba(211, 47, 47, 0.25) !important;
    border-color: #d32f2f !important;
}

/* Toast Green Font Override */
.p-toast-message-summary,
.p-toast-message-detail {
    color: #2e7d32 !important;
    /* Material Design Green 800 */
}